<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naver.jbb.dao.QnaMapper">

    <!-- 내가 쓴 질문 목록 -->
    <select id="selectUserQnaList" parameterType="map" resultType="com.naver.jbb.domain.QnaDTO">
        SELECT * FROM qna
        WHERE writer = #{userId}
        AND parent_id IS NULL
        ORDER BY qno DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <!--내가 쓴 질문 개수 -->
    <select id="countUserQna" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM qna
        WHERE writer = #{userId}
        AND parent_id IS NULL
    </select>

    <!-- 질문 추가 -->

    <insert id="insertQuestion" parameterType="com.naver.jbb.domain.QnaDTO">
        INSERT INTO qna (writer, q_content, is_answered)
        VALUES (#{writer}, #{q_content}, false)
    </insert>

    <!-- 답변 조회 -->
    <select id="getQuestionWithAnswer" parameterType="map" resultType="com.naver.jbb.domain.QnaDTO">
        SELECT q.qno AS question_id,
        q.writer AS question_writer,
        q.q_content,
        q.qna_date AS question_date,
        q.is_answered,
        a.qno AS answer_id,
        a.writer AS answer_writer,
        a.a_content,
        a.qna_date AS answer_date
        FROM qna q
        LEFT JOIN qna a ON q.qno = a.parent_id
        WHERE q.qno = #{qno} AND q.writer = #{userId}
    </select>

    <!-- 질문 삭제 -->
    <delete id="delete_question" parameterType="int">
        DELETE FROM qna
        WHERE qno = #{qno} OR parent_id = #{qno}
    </delete>

</mapper>