<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naver.jbb.dao.AdminMapper">

    <!-- 회원관리 -->
    <!-- 사용자 -->
    <!-- 사용자 목록 조회 (검색어가 없으면 전체 사용자 조회, 검색어가 있으면 이름 필터링) -->
    <sql id="searchCondition">
        <choose>
            <when test='option=="N"'>
                AND id LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="E"'>
                AND email LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (id LIKE concat('%', #{keyword}, '%')
                OR email LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>
    <select id="getUserListPaging" resultType="com.naver.jbb.domain.UserDTO">
        SELECT
        u.*,
        (SELECT COUNT(*) FROM board b WHERE b.writer = u.id) AS boardCount
        FROM user u
        WHERE true
        <include refid="searchCondition"/>
        ORDER BY u.id
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="getTotalUserCount" resultType="int">
        SELECT COUNT(*) FROM user
        WHERE true
        <include refid="searchCondition"/>
    </select>
    <!-- 사용자목록-작성한 게시글 목록 -->
    <sql id="searchCondition2">
        <choose>
            <when test='option=="B"'>
                AND bno LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </sql>
    <select id="userboard" resultType="com.naver.jbb.domain.BoardDTO">
        SELECT *
        FROM board
        WHERE writer = #{writer}
        <include refid="searchCondition2"/>
        ORDER BY bno DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="getuserboardCount" resultType="int">
        SELECT COUNT(*) FROM board
        WHERE writer = #{writer}
        <include refid="searchCondition2"/>
    </select>
    <!-- 사용자 상세 조회 -->
    <select id="userdetail" parameterType="String" resultType="com.naver.jbb.domain.UserDTO">
        SELECT * FROM user
        WHERE id=#{id}
    </select>
    <!-- 사용자 삭제 -->
    <delete id="userdelete">
        DELETE FROM user
        WHERE id=#{id}
    </delete>
    <!-- 사용자 추가 -->
    <insert id="userinsert" parameterType="com.naver.jbb.domain.UserDTO">
        INSERT INTO user (id, pwd, name, email, tel)
        VALUES
        (#{id}, #{pwd}, #{name}, #{email}, #{tel})
    </insert>
    <select id="checkuserId" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM user WHERE id = #{id}
    </select>

    <!-- 문의내역 -->
    <!-- 문의 목록 조회 -->
    <sql id="searchCondition3">
        <choose>
            <when test='option=="Q"'>
                AND q_content LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                AND writer LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </sql>
    <select id="qnalist" resultType="com.naver.jbb.domain.QnaDTO">
        SELECT * FROM qna
        WHERE parent_id IS NULL
        <include refid="searchCondition3"/>
        ORDER BY qno DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="qnaCount" resultType="int">
        SELECT COUNT(*) FROM qna
        WHERE parent_id IS NULL
        <include refid="searchCondition3"/>
    </select>
    <!-- 문의 상세보기 & 답변달기 -->
    <select id="qnadetail" resultType="com.naver.jbb.domain.QnaDTO" parameterType="int">
        SELECT
        q.qno AS question_id,
        q.writer AS question_writer,
        q.q_content,
        q.qna_date AS question_date,
        q.is_answered,

        a.qno AS answer_id,
        a.parent_id,
        a.writer AS answer_writer,
        a.a_content,
        a.qna_date AS answer_date

        FROM qna q
        LEFT JOIN qna a ON q.qno = a.parent_id
        WHERE q.qno = #{qno}
    </select>
    <insert id="insertAnswer" parameterType="com.naver.jbb.domain.QnaDTO">
        INSERT INTO qna (parent_id, writer, a_content, is_answered)
        VALUES (#{parent_id}, #{writer}, #{a_content}, true);
    </insert>
    <update id="is_answered_update" parameterType="int">
        UPDATE qna SET is_answered = true WHERE qno = #{parent_id}
    </update>
    <!-- 문의 삭제 -->
    <delete id="qnadelete" parameterType="int">
        DELETE FROM qna
        WHERE qno=#{qno}
    </delete>
    <!-- 답변 삭제 -->
    <delete id="answerdelete" parameterType="int">
        DELETE FROM qna
        WHERE parent_id=#{parent_id}
    </delete>
    <update id="answerdelete_update" parameterType="int">
        UPDATE qna SET is_answered = false WHERE qno = #{qno}
    </update>

    <!-- 콘텐츠관리 -->
    <!-- 게시판 -->
    <!-- 전체 게시판 목록 조회 -->
    <select id="admin_boardlist" parameterType="com.naver.jbb.domain.SearchCondition" resultType="com.naver.jbb.domain.BoardDTO">
        SELECT b.bno, b.title, b.img1, b.view_cnt, b.comment_cnt, b.reg_date, b.writer, c.bc_name
        FROM board AS b
        JOIN category AS c
        ON b.b_bc_code = c.bc_code
        WHERE true
        <choose>
            <when test='option=="W"'>
                AND writer LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
        ORDER BY b.bno DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="boardCnt" parameterType="com.naver.jbb.domain.SearchCondition" resultType="int">
        SELECT COUNT(*) FROM board
        WHERE true
        <choose>
            <when test='option=="W"'>
                AND writer LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </select>
    <!-- 게시물 상세보기 -->
    <select id="admin_boarddetail" parameterType="int" resultType="com.naver.jbb.domain.BoardDTO">
        SELECT * FROM board
        WHERE bno=#{bno}
    </select>
    <!-- 게시물 삭제 -->
    <delete id="admin_boardremove">
        DELETE FROM board
        WHERE bno=#{bno}
    </delete>

    <!-- 공지사항 -->
    <!-- 공지사항 목록(관리자) -->
    <select id="admin-notify-list" parameterType="com.naver.jbb.domain.SearchCondition" resultType="com.naver.jbb.domain.NotifyDTO">
        SELECT * FROM notify
        WHERE true
        <choose>
            <when test='option=="T"'>
                AND ntitle LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (ntitle LIKE concat('%', #{keyword}, '%')
                OR ncontent LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
        ORDER BY nno DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- FAQ -->
    <!-- FAQ 작성 -->
    <insert id="faqInsert" parameterType="com.naver.jbb.domain.FaqDTO">
        INSERT INTO faq (f_question, f_answer, f_date)
        VALUES (#{f_question}, #{f_answer}, now())
    </insert>
    <!-- FAQ 목록 -->
    <select id="faqAll" parameterType="com.naver.jbb.domain.SearchCondition" resultType="com.naver.jbb.domain.FaqDTO">
        SELECT * FROM faq
        WHERE true
        <choose>
            <when test='option=="A"'>
                AND f_question LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
        ORDER BY fno DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <!-- FAQ 개수 -->
    <select id="faqCnt" resultType="int">
        SELECT count(*) FROM faq
        WHERE true
        <choose>
            <when test='option=="A"'>
                AND f_question LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </select>
    <!-- FAQ 상세보기 -->
    <select id="faqdetail" parameterType="int" resultType="com.naver.jbb.domain.FaqDTO">
        SELECT * FROM faq
        WHERE fno=#{fno}
    </select>
    <!-- FAQ 수정 -->
    <update id="faqUpdate" parameterType="com.naver.jbb.domain.FaqDTO">
        UPDATE faq
        SET f_question=#{f_question}, f_answer=#{f_answer}, f_date=now()
        WHERE fno=#{fno}
    </update>
    <!-- FAQ 삭제 -->
    <delete id="faqdelete">
        DELETE FROM faq WHERE fno=#{fno}
    </delete>

    <!-- 인사이트 분석 -->
    <!-- 일/주/월별 신규 가입자 수 -->
    <select id="getDailyNewUsers" resultType="map">
        SELECT DATE_FORMAT(reg_date, '%Y-%m-%d') AS date, COUNT(*) AS new_users
        FROM user
        WHERE reg_date >= DATE_SUB(NOW(), INTERVAL 30 DAY)
        GROUP BY date
        ORDER BY date DESC
    </select>
    <select id="getWeeklyNewUsers" resultType="map">
        SELECT DATE_FORMAT(reg_date, '%Y-%u') AS week, COUNT(*) AS new_users
        FROM user
        WHERE reg_date >= DATE_SUB(NOW(), INTERVAL 12 WEEK)
        GROUP BY week
        ORDER BY week DESC
    </select>
    <select id="getMonthlyNewUsers" resultType="map">
        SELECT DATE_FORMAT(reg_date, '%Y-%m') AS month, COUNT(*) AS new_users
        FROM user
        WHERE reg_date >= DATE_SUB(NOW(), INTERVAL 12 MONTH)
        GROUP BY month
        ORDER BY month DESC
    </select>
    <!-- 사용자 활동 빈도 -->
    <select id="getAllUserActivity" parameterType="com.naver.jbb.domain.SearchCondition" resultType="com.naver.jbb.domain.UserActivityDTO">
        SELECT u.id, u.name,
        COALESCE(u.login_count, 0) AS login_count,
        COALESCE(b.board_count, 0) AS board_count,
        COALESCE(c.comment_count, 0) AS comment_count,
        COALESCE(lk.like_count, 0) AS like_count
        FROM user u
        LEFT JOIN (SELECT id, COUNT(*) AS login_count FROM user GROUP BY id) l ON u.id = l.id
        LEFT JOIN (SELECT writer, COUNT(*) AS board_count FROM board GROUP BY writer) b ON u.id = b.writer
        LEFT JOIN (SELECT commenter, COUNT(*) AS comment_count FROM comment GROUP BY commenter) c ON u.id = c.commenter
        LEFT JOIN (SELECT user_id, COUNT(*) AS like_count FROM likes GROUP BY user_id) lk ON u.id = lk.user_id
        WHERE true
        <choose>
            <when test='option=="I"'>
                AND u.id LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
        ORDER BY login_count DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="userActivityCnt" parameterType="com.naver.jbb.domain.SearchCondition" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE true
        <choose>
            <when test='option=="I"'>
                AND id LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </select>
    <!-- 카테고리 게시글 수 -->
    <select id="BoardCategoryCnt" resultType="map">
        SELECT c.bc_name, COUNT(b.bno) AS post_count
        FROM category c
        LEFT JOIN board b ON c.bc_code = b.b_bc_code
        WHERE c.bc_code_ref_mn IS NOT NULL
        GROUP BY c.bc_name
    </select>
    <select id="BoardCategoryDetail" parameterType="com.naver.jbb.domain.SearchCondition" resultType="com.naver.jbb.domain.BoardDTO">
        SELECT c.bc_name, b.bno, b.title, b.writer, b.reg_date, b.img1, COUNT(b.bno) OVER (PARTITION BY c.bc_name) AS post_count
        FROM category c
        LEFT JOIN board b ON c.bc_code = b.b_bc_code
        WHERE c.bc_name = #{bc_name}
        <choose>
            <when test='option=="T"'>
                AND b.title LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
        ORDER BY b.reg_date DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="BoardCategoryDetailCnt" parameterType="com.naver.jbb.domain.SearchCondition" resultType="int">
        SELECT COUNT(*)
        FROM category c
        LEFT JOIN board b ON c.bc_code = b.b_bc_code
        WHERE c.bc_name = #{bc_name}
        <choose>
            <when test='option=="T"'>
                AND b.title LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </select>
    <!-- 일별 게시글 작성 수 -->
    <select id="getDailyPostCount" parameterType="com.naver.jbb.domain.SearchCondition" resultType="com.naver.jbb.domain.BoardDTO">
        SELECT Date(reg_date) AS reg_date, COUNT(*) AS post_count
        FROM board
        <where>
            <if test="startDate != null and startDate != ''">
                AND DATE(reg_date) &gt;=#{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND DATE(reg_date) &lt;=#{endDate}
            </if>
        </where>
        GROUP BY DATE(reg_date)
        ORDER BY reg_date DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="getDailyPostCountTotal" parameterType="com.naver.jbb.domain.SearchCondition" resultType="int">
        SELECT COUNT(*) FROM (
        SELECT DATE(reg_date)
        FROM board
        <where>
            <if test="startDate != null and startDate != ''">
                AND DATE(reg_date) &gt;=#{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND DATE(reg_date) &lt;=#{endDate}
            </if>
        </where>
        GROUP BY DATE(reg_date)
        ) AS temp
    </select>
    <!-- 일자별 상세페이지 -->
    <select id="getPostsByDate" parameterType="com.naver.jbb.domain.SearchCondition" resultType="com.naver.jbb.domain.BoardDTO">
        SELECT b.bno, b.title, b.writer, b.reg_date, b.img1, b.view_cnt, c.bc_name
        FROM board b
        LEFT JOIN category c ON b.b_bc_code = c.bc_code
        WHERE DATE(reg_date) = #{reg_date}
        <choose>
            <when test='option=="T"'>
                AND b.title LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
        ORDER BY b.reg_date DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="countPostsByDate" parameterType="com.naver.jbb.domain.SearchCondition" resultType="int" >
        SELECT COUNT(*) FROM board
        WHERE DATE(reg_date) = #{reg_date}
        <choose>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
        </choose>
    </select>
</mapper>