<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naver.jbb.dao.LikesMapper">

    <!-- 좋아요 추가 -->
    <insert id="addLike" parameterType="com.naver.jbb.domain.LikesDTO">
        INSERT INTO likes (user_id, board_bno)
        VALUES (#{user_id}, #{board_bno})
    </insert>

    <!-- 좋아요 삭제 -->
    <delete id="removeLike" parameterType="com.naver.jbb.domain.LikesDTO">
        DELETE FROM likes
        WHERE user_id = #{user_id} AND board_bno = #{board_bno}
    </delete>

    <!-- 좋아요 개수 -->
    <select id="getLikeCount" parameterType="int" resultType="int">
        SELECT count(*) FROM likes
        WHERE board_bno = #{board_bno}
    </select>

    <!-- 사용자가 해당 게시물에 좋아요 눌렀는지 확인 -->
    <select id="isLikeByUser" parameterType="com.naver.jbb.domain.LikesDTO" resultType="int">
        SELECT count(*) FROM likes
        WHERE user_id=#{user_id} AND board_bno = #{board_bno}
    </select>

</mapper>
